/* BODY */
body {
    background-color: #1B8B8F;
    width: 70%;
    margin: 0 auto;
}

/* HEADER */
header {
    background: #1B8B8F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Navigation menu*/
nav {

    background-color: #5E3C30;
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: center;
    height: 50px;

}

/*   Pour toutes les balises <a> contenues dans l'éléement avec un id menu*/
nav a {
    display: flex;
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    padding: 10px;
}

/* Pour la transition du menu  */
nav a:hover {
    background-color: #a79189;
    transition: ease 0.6s;
}

/* Regroupe le header et le main dans cette classe */
.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

/* Section  */
section {
    flex: 70%;
    background: #448088;
    margin: auto;
}

/* Pour l'image dans la section */
section img {
    border-radius: 10px;
    margin-top: 10px;
    width: 580px;
    margin-left: 10px;
}

/* Pour les texte*/
p {

    margin: 2%;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
}

/* pour les titre */
h2,
h1,
h3 {
    background-color: #5E3C30;
    color: white;
    font-size: 1.4em;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 1%;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

/* Pour gerer le aside*/
aside {

    flex: 30%;
    background-color: white;
}


/* pour gerer les ecran inferieur a 960px */
@media screen and (max-width: 960px) {

    /* body */
    body {
        width: 100%;
    }

    /* Gere mon menu */
    nav {

        height: 100%;
    }

    nav a {
        width: 100%;
        justify-content: center;
    }

    /* Regroupe le header et le main dans cette classe */
    .container {
        flex-direction: column;
        margin-bottom: 10px;

    }
}

/* Styles pour gérer les écrans inférieurs à 560px */
@media screen and (max-width: 560px) {

    /* body */
    body {
        width: 100%;

    }

    /* Pour l'image dans la section */
    section img {
        border-radius: 10px;
        width: 500px;
        margin: 10px auto;
        display: block;
    }

    /* Gere mon menu */
    nav {
        flex-direction: column;


    }

    nav a {
        width: 100%;
        justify-content: center;
    }

    /* fait disparaitre mon aside */
    aside {
        display: none;
    }
}