/*CSS*/

/*HEADER */
header {

    text-align: center;
    background-color: green;
    color: white;
}
/* Bloquer le défilement horizontal de la page */
body {
    overflow-x: hidden;
  }
/*Navigation menu*/
#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 10px 20px 10px 20px;
    margin: auto;
    list-style-type: none;
    
}

/*   Pour toutes les balises <a> contenues dans l'éléement avec un id menu*/
#menu a {
    display: block;
    margin: 5%;
    color: black;
    text-decoration: none;
    line-height: 2em;
    width: 100%;
    border: 3px solid black;
    text-align: center;
    border-radius: 5px;
    
}

#menu a:focus {
    color: black;
    border-bottom: none;
}

#menu a.active {
    border-bottom: none;
    /* Supprime la bordure du bas pour l'élément actif */
}

/* regroupe la section et le aside*/
.container {
    display: flex;

}

/* affichage des livres premiere ligne*/
section {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 0 0 calc(80% - 10px);
    flex-wrap: wrap;

}

/* Pour gerer le aside*/
aside {
    border: 2px solid black;
    flex: 20%;
    margin-left: auto;
    align-self: flex-start;
    border-right-style: none;
    border-top-style: none;
    border-bottom-style: none;
    margin: 1%;
}

/* taille des image */
img {
    width: 100px;
    height: 100px;
}