body {
    background-color:#000000;
    margin-left: 100px;
   }
   h1 {
    
    color: red;
 border: 2px solid blue;
 background-color: yellow;
 font-family: verdana;


   }
   
    h2, h6 {font-size: 32pt;
    color: chocolate;
    
      }
   li
   {font-size: 26pt;
color: blue;
   }
h3, h4, h5 {

font-size: 30p;
color: rgb(123, 255, 0);
box-shadow : 10px 5 px 5px red;
text-shadow : 1px 1px 2px pink;


}
a:visited { color:deepskyblue;
}

.test {color: blueviolet;
   background : linear-gradient(to right, rgb(255, 255, 255), rgb(245, 0, 0));}

   p {
    font-size: 12pt;
    line-height: 14pt;
    font-family: Arial;
    letter-spacing: 0.2mm;
    word-spacing: 0.8mm;
    color: rgb(153, 0, 255);
   }